<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="NikiTest.com.NikiTest.NikiTestCases" />
			<methods>
				<exclude name="verifyPrepaidRechargeFeature" />
				<include name="verifyBusBookingFeature" />
			</methods>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
